{% extends 'layouts/front.html' %}
{% load vite html %}
{% block page %}
<nav class="sticky top-0 border-b border-gray-200 bg-white">
    <div class="max-w-4xl mx-10 lg:mx-auto flex items-center h-14">
        <a href="https://logoipsum.com/artwork/294" target="_blank" title="This logo is from LogoIpsum">
            <svg class="h-8" viewBox="0 0 40 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="ccustom" fill-rule="evenodd" clip-rule="evenodd"
                    d="M9.98578 4.11462L0 14C1.99734 15.9773 4.27899 17.6437 6.76664 18.9474C7.45424 20.753 8.53203 22.4463 10 23.8995C15.5229 29.3668 24.4772 29.3668 30 23.8995C31.468 22.4463 32.5458 20.753 33.2334 18.9473C35.721 17.6437 38.0027 15.9773 40 14L30.0223 4.12266C30.0149 4.11527 30.0075 4.10788 30 4.1005C24.4772 -1.36683 15.5229 -1.36683 10 4.1005C9.99527 4.10521 9.99052 4.10991 9.98578 4.11462ZM29.0445 20.7309C26.1345 21.7031 23.0797 22.201 20 22.201C16.9203 22.201 13.8656 21.7031 10.9556 20.7309C11.2709 21.145 11.619 21.5424 12 21.9196C16.4183 26.2935 23.5817 26.2935 28 21.9196C28.381 21.5424 28.7292 21.145 29.0445 20.7309ZM12.2051 5.8824C12.9554 6.37311 13.7532 6.79302 14.588 7.13536C16.3038 7.83892 18.1428 8.20104 20 8.20104C21.8572 8.20104 23.6962 7.83892 25.412 7.13536C26.2468 6.79302 27.0446 6.3731 27.795 5.88238C23.4318 1.77253 16.5682 1.77254 12.2051 5.8824Z"
                    fill="#3B4158"></path>
            </svg>
        </a>
        <h3 class="font-bold text-gray-500 uppercase ml-4 text-lg">
            Django-vite-plugin
        </h3>
        <ul class="ml-auto flex space-x-3 text-gray-500 text-sm">
            <li>
                <a href="#" class="text-blue-500 font-semibold">Demo</a>
            </li>
            <li>
                <a class="hover:underline hover:text-blue-500"
                    href="https://github.com/protibimbok/django-vite-plugin">Docs</a>
            </li>
        </ul>
    </div>
</nav>
<div class="border rounded-md max-w-4xl mx-10 lg:mx-auto my-20 bg-gray-50">
    <h4 class="px-4 py-2.5 font-semibold border-b">Just some demo</h4>
    <div class="p-4">
        <p class="text-gray-400 tracking-wider font-thin mb-4">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto earum
            dicta natus expedita nesciunt nostrum sequi, adipisci quidem temporibus
            eos excepturi quae alias cupiditate ab eaque autem aperiam rerum nam.
        </p>
        <p class="text-red-500 tracking-wider font-semibold mb-4">Did you know?</p>
        <button id="next-move" class="px-3 py-2 rounded bg-blue-600 text-white uppercase font-semibold text-sm">
            What?
        </button>
        <p class="text-emerald-500 tracking-wider font-semibold my-4">
            You can use vue too!
        </p>
        <div id="vue-app"></div>
    </div>
</div>

<div class="border rounded-md max-w-4xl mx-10 lg:mx-auto my-20 bg-gray-50">
    <h4 class="px-4 py-2.5 font-semibold border-b">Input & outputs</h4>
    <div class="divide-y">
        <div class="grid grid-cols-2 p-4 text-gray-500">
            <div>
                {% verbatim %}
                    {% vite 'home/js/app.js' %}
                {% endverbatim %}
            </div>
            <div class="overflow-hidden">
                {% html %}
                    {% vite 'home/js/app.js' %}
                {% endhtml %}
            </div>
        </div>
        <div class="grid grid-cols-2 p-4 text-gray-500">
            <div>
                {% verbatim %}
                    {% vite 'another_app/js/one.js' type='text/javascript' data-attr='static_attr' data-dynamic=dyn_attr data-true=True data-false=False %}
                {% endverbatim %}
            </div>
            <div class="overflow-hidden">
                {% html %}
                    {% vite 'another_app/js/one.js' type='text/javascript' data-attr='static_attr' data-dynamic=dyn_attr data-true=True data-false=False %}
                {% endhtml %}
            </div>
        </div>
        <div class="grid grid-cols-2 p-4 text-gray-500">
            <div>
                {% verbatim %}
                    {% vite 'static.js' dyn_js dyn_css data-attr='static_attr' %}
                {% endverbatim %}
            </div>
            <div class="overflow-hidden">
                {% html %}
                    {% vite 'static.js' dyn_js dyn_css data-attr='static_attr' %}
                {% endhtml %}
            </div>
        </div>
        <div class="grid grid-cols-2 p-4 text-gray-500">
            <div>
                {% verbatim %}
                    {% vite dyn_js dyn_css data-attr='static_attr' data-dynamic=dyn_attr%}
                {% endverbatim %}
            </div>
            <div class="overflow-hidden">
                {% html %}
                    {% vite dyn_js dyn_css data-attr='static_attr' data-dynamic=dyn_attr%}
                {% endhtml %}
            </div>
        </div>
    </div>
</div>
{% endblock %}