# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Publish Package to npm

on:
  release:
    types: [created]

jobs:
  publish-npm:
    if: endsWith(github.ref, '-npm')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
      
      - name: Install dependencies
        run: npm install -g pnpm

      - name: Build and Publish
        working-directory: vite
        run: |
          pnpm install
          pnpm build
          pnpm publish --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}